Application/Permission to publish blankett.pdf
.venv
Experiment/data/synthetic_images
*.DS_Store
temp.tex
revealjs
Presentation/Summary/node_modules
**node_modules**
Presentation/Summary/screenshots
details
