Application/Permission to publish blankett.pdf
.venv
Experiment/data/synthetic_images
*.DS_Store
temp.tex
revealjs
Presentation/Summary/node_modules
**node_modules**
Presentation/Summary/screenshots
details
Presentation/**
!Presentation/Internal.pptx
.env
.pnpm-store/v10/projects/63d864db799ab91e693d7043a968aae4
